<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>GameHive - Hele Danmarks Gaming Platform!</title>
    <link rel="stylesheet" href="../../static/css/body.css">
    <link rel="stylesheet" href="../../static/css/headerFooter.css">
    <link rel="stylesheet" href="../../static/css/ancient.css">
</head>
<body>
<header>
    <div class="header">
        <div class="logocontainer">
            <a href="../forside.html">
                <img id="logo" src="../billeder/logo.png" alt="Logo">
            </a>
        </div>
        <div class="hejmsg">
            Gamernes Platform!
        </div>
        <div class="hlist">
            <ul>
                <li><a th:href="@{/forside}">Forside</a></li>
                <li><a th:href="@{/PLACEHOLDER}">placeholder</a></li>
                <li><a th:href="@{/PLACEHOLDER}">Min Profil</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Tips n' Tricks</button>
            <div class="dropdown-content">
                <a th:href="@{/leaguetips}">League of Legends</a>
                <a th:href="@{/csgotips}">CSGO</a>
                <a th:href="@{/baldurstips}">Baldur's Gate III</a>
                <a href="#">Valorant</a>
                <a href="#">Smite</a>
                <a href="#">TFT</a>
                <a href="#">Warhammer 40k Tacticus</a>
            </div>
        </div>
        <div class="login-signup">
            <ul>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Signup</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="container">
    <div class="videocont">
        <div class="video">
            VIDEO PLACEHOLDER
        </div>
        <div class="beskrivelse">
            BESKRIVELSE PLACEHOLDER
        </div>
    </div>
    <div class="map">
        <div class="cirkelt1"></div>
        <div class="cirkelt2"></div>
        <div class="cirkelt3"></div>
        <div class="cirkelct1"></div>
        <div class="cirkelct2"></div>
        <div class="cirkelct3"></div>
    </div>
</div>

<footer>
    <div class="footercontainer">
        <div class="container1">
            <ul>
                <li><a th:href="@{/support}">Support</a></li>
                <li><a th:href="@{/privatlivspolitik}">Privatlivspolitik</a></li>
            </ul>
        </div>
        <div class="container2">
            GameHive™
        </div>
    </div>
</footer>
</body>
</html>