body{
    height: 80rem;
}
.piccontainer{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content:center;
    height: 30rem;
}

#bg3pic{
    width: 90%;
    height: 50rem;
}

.shlink{
    display: flex;
    justify-content: center;
    margin-top: 25rem;
}

.shlink a{
    text-decoration: none;
    color: white;
}

.shlink a:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
    color: #FFA16E;
}