body {
    background: linear-gradient(to bottom, #333333, black);
    background-repeat: no-repeat;
    margin: 0;
    height: 80rem;

    font-size: 1.8rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.header{
    height: 5rem;
    display: flex;
    justify-content: left;

    background-color: #282828;

}

.logocontainer{
    width: 20rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

#logo{
    max-width: 115%;
}



.hlist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hlist ul {
    list-style: none;
    display: flex;
}

.hlist ul li{
    margin-right: 3.5rem;
}

.hlist ul li:last-child{
    margin-right: 3rem;
}

.hlist ul li:first-child{
    margin-left: 0rem;
}

.hlist ul a, .login-signup a, .container1 a{
    text-decoration: none;
    color: white;
    transition: transform 0.45s ease, color 0.45s ease;
    cursor: pointer;
}

.hlist ul a:hover, .login-signup ul a:hover, .container1 ul a:hover{
    text-decoration: underline;
    color: #FFA16E;
}

.dropdown {
    display: inline-block;
    position: absolute;
    left: 78%;
    top: 2.5%;
}

.dropbtn {
    background-color: #fd5d56;
    color: white;
    padding: .7rem 1.4rem;
    font-size: 1.2rem;
    border-radius: 10rem;
    border-style: outset;
    border-width: .25rem;
}

.dropbtn:hover {
    background-color: #f6342a;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #282828;
    width: max-content;
    z-index: 2;
    overflow: hidden;
    border-radius: 1rem;
    text-align: center;
}

.dropdown-content a {
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
    font-size: medium;
}

.dropdown-content a:hover {
    background-color: #212121;
}

.dropdown:hover .dropdown-content {
    display: block;
    align-items: center;
}

.login-signup {
    position: absolute;
    top: 5%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-signup ul {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-signup ul li {
    margin: 0;
}


.footercontainer{
    width: 100%;
    height: 3.5rem;
    font-size: 1.1rem ;

    background-color: #171717;
    gap: 70%;
    position: absolute;
    top: 76.5rem;
    display: flex;
}

.container1, .container2{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
}

.container1 ul{
    display: flex;
    align-items:flex-start;
    gap: 1.5rem;
    list-style: none;
    color: white;
}

/* Søgefelt Start */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-right: 380px;
}

.input {
    border-style: none;
    height: 40px;
    width: 60px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    background-color: #660001;
    box-shadow: 0px 0px 3px #ce000d;
    padding-right: 40px;
    color: #fff;
}

.input::placeholder,
.input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: #8f8f8f;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
}

.icon:focus ~ .input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #660001;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-results {
    margin-top: 10px;
    background-color: #282828;
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    overflow: auto;
}

.search-result {
    padding: 5px;
    border-bottom: 1px solid #444;
}

.search-result:last-child {
    border-bottom: none;
}

/* Søgefelt slut css*/


#elliga{
    position: absolute;
    top: 11svh;
    left: 10svh;
    margin-top: 4svh;
    height: 35svh;
    box-shadow: 5px 5px 30px rgba(53,102,59,0.68);
    border: solid black;
}

.resumeEL{
    height: 60svh;
    width: 80svh;
    position: absolute;
    top: 14svh;
    left: 90svh;
    box-shadow: 5px 5px 39px rgba(53,102,59,0.68);
    background: rgba(67,83,54,0.47);
    border:solid black;
    border-radius: 5%;
    display: flex;  /* Brug flexbox */
    justify-content: center;  /* Centrer tekst vandret */
    align-items: center;  /* Centrer tekst lodret */
    text-align: center;  /* Sørger for, at tekst er centreret inden i elementet */
    font-size: 27px;
    font-style: italic;
}

.Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #36770a, #ddff77, #6c770a, #5c770a,#ddff77,#36770a);
    background-size: 250%;
    background-position: left;
    color: #e2ff77;
    position: relative;
    top: 43svh;
    left: 27svh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.Btn::before {
    position: absolute;
    content: "TILMELD";
    color: #ddff77;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}

.Btn:hover {
    background-position: right;
    transition-duration: 1s;
}

.Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.Btn:active {
    transform: scale(0.95);
}