.kalender {
    background-color: black;

    max-width: calc(100% - 10rem);
    height: 47%;
    margin: 2rem auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    background-color: black;

    max-width: calc(100% - 10rem);
    height: 30%;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
