/* Header */
.header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    box-shadow: 0 .3rem .5rem #fd5d56;
    padding: 0 1rem;
}

.logocontainer {
    display: flex;
    align-items: center;
    width: 20rem;
}

#logo {
    max-width: 115%;
}

.hlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hlist ul {
    list-style: none;
    display: flex;
}

.hlist ul li {
    margin-right: 3.5rem;
}

.hlist ul a, .login-signup a {
    text-decoration: none;
    color: white;
    transition: transform 0.45s ease, color 0.45s ease;
}

.hlist ul a:hover, .login-signup ul a:hover {
    color: #FFA16E;
}

/* Login/Signup */
.login-signup ul {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-left: -5.5rem;
    margin-right: 1.5rem;
    height: 3rem;
    width: 3.5rem;
}

/* Search container moved to right corner */
.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-icon {
    cursor: pointer;
}

.search-input {
    display: none;
    transition: width 0.3s ease-in-out;
}

/* Active state for search input */
.search-active .search-input {
    display: block;
    width: 200px;
}

/* Search input styling */
.search-input input {
    width: 0;
    padding-left: 16px;
    padding-right: 16px;
    transition: width 0.3s ease-in-out;
}

.search-input button {
    background-color: #38b2ac;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.search-input button:hover {
    background-color: #319a8b;
}

/* Calendar and Stats styles */
.kalender, .stats {
    background-color: black;
    max-width: calc(100% - 10rem);
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kalender {
    height: 47%;
}

.stats {
    height: 30%;
}
