.header{
    height: 5rem;
    display: flex;
    justify-content: left;

    background-color: #282828;
    box-shadow: 0 .3rem .5rem #fd5d56; /*#FBA074*/
    font-family: "Ubuntu", sans-serif;
}

.logocontainer{
    width: 20rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

#logo{
    max-width: 115%;
}

.hlist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hlist ul {
    list-style: none;
    display: flex;
}

.hlist ul li{
    margin-right: 3.5rem;
}

.hlist ul li:last-child{
    margin-right: 3rem;
}

.hlist ul li:first-child{
    margin-left: -3rem;
}

.hlist ul a, .login-signup a, .container1 a{
    text-decoration: none;
    color: white;
    transition: transform 0.45s ease, color 0.45s ease;
    cursor: pointer;
}

.hlist ul a:hover, .login-signup ul a:hover, .container1 ul a:hover{
    text-decoration: underline;
    color: #fd5d56;
}

.login-signup {
    position: absolute;
    top: 7%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-signup ul {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: medium;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.login-signup ul li {
    margin: 0;
}

.footercontainer{
    width: 100%;
    height: 3.5rem;
    font-size: 1.1rem ;

    background-color: #171717;
    gap: 70%;
    position: absolute;
    top: 76.5rem;
    display: flex;
}

.container1, .container2{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
}

.container1 ul{
    display: flex;
    align-items:flex-start;
    gap: 1.5rem;
    list-style: none;
    color: white;
}