header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Sørg for, at headeren altid er over andre elementer */
}
/* Placer container under header og centrér det */
body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrér horisontalt */
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Placer container under header */
#container {
    margin-top: 6rem; /* Plads under headeren */
    width: 80%;
    max-width: 90vw;
    background-color: black;
    box-shadow: 0 0 3vh #fd5d56;
    margin-bottom: 5vh; /* Ekstra mellemrum i bunden */
    display: flex;
    flex-direction: column;
    align-items: center; /* Sørg for centrering */
}

#weekdays {
    display: flex;
    justify-content: space-between;
    color: #247BA0;
    padding: 1vh;
}

#weekdays div {
    flex: 1;
    text-align: center;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.day {
    flex: 1 0 12%;
    margin: 1%;
    height: 12vh;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 0.3vh #CBD4C2;
}

.day:hover {
    background-color: #e8faed;
}

.event {
    font-size: 1.5vh;
    padding: 0.5vh;
    background-color: #58bae4;
    color: white;
    border-radius: 0.5vh;
    max-height: 50%;
    overflow: hidden;
}

.padding {
    background-color: #FFFCFF !important;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 2vh;
    background-color: #e8f4fa;
    box-shadow: 0 0 3vh black;
    border-radius: 1vh;
    width: 40%;
    position: fixed;
    top: 20vh;
    left: 30vw;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 1vh;
    width: 100%;
    margin-bottom: 2vh;
    border-radius: 0.5vh;
    border: none;
    box-shadow: 0 0 0.3vh gray;
}

#modalBackDrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}


