.supportcontainer{
    max-width: calc(100% - 20rem);
    height: 35%;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overskrift{
    margin-top: 4rem;
}

.tekstcontainer{
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tekst1,.tekst2{
    width: 50%;
    height: 100%;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}