<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Gear</title>
    <link rel="stylesheet" href="../static/css/forside.css">
</head>
<body>
<header>
    <div class="logo">SquadRonix</div>
    <nav>
        <ul>
            <li><a href="#">Forside</a></li>
            <li><a href="#">Hold</a></li>
            <li><a href="#">Turneringer</a></li>
            <li><a href="#">Tips 'n' Tricks</a></li>
            <li><a href="#">Guide</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </nav>
    <div class="actions">
        <input type="text" id="searchBox" placeholder="Søg...">
        <button id="profileBtn">👤 Profil</button>
    </div>
</header>
<main>
    <aside class="filter-panel">
        <h4>Kategori</h4>
        <ul>
            <li><button>Mit Hold</button></li>
            <li><button>Find Hold</button></li>
            <li><button>Find Spiller</button></li>
        </ul>
        <h4>Plan</h4>
        <ul>
            <li><button>Tilmeldte turneringer</button></li>
            <li><button>Kommende turneringer</button></li>
            <li><button>Træninger</button></li>
        </ul>
    </aside>
    <section class="product-section">
        <h1>Udvalgte Turneringer</h1>
        <p>Find de mest spændende turneringer og deltag som en del af SquadRonix!</p>
        <div class="products">
            <div class="product-card">
                <img src="../static/billeder/elgiganten.png" alt="Turnering">
                <h2> Elgiganten Ligaen</h2>
                <p>Start: 20. Dec 2024</p>
            </div>
            <div class="product-card">
                <img src="../static/billeder/powerligaen_logo.png" alt="Turnering">
                <h2>PowerLigaen</h2>
                <p>Start: 15. Jan 2025</p>
            </div>
        </div>
    </section>
</main>
<script src="../static/javascript/søg.js"></script>
</body>
</html>
