<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/kalender.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <title>kalender</title>
</head>
<body>
<div class="calendar">
    <div class="header">
        <div id="prev" class="btn"><i class="fa-solid fa-arrow-left"></i></div>
        <div id="month-year"></div>
        <div id="next" class="btn"><i class="fa-solid fa-arrow-right"></i></div>
    </div>
    <div class="weekdays">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>
    <div class="days" id="days"></div>
</div>
<div id="event-modal" style="display: none;">
    <div class="modal-content">
        <h3>Tilføj begivenhed</h3>
        <p id="selected-date"></p>
        <div id="gentag-box">
            <select id="event-type">
                <option value="Træningskamp">Træningskamp</option>
                <option value="Pracc">Pracc</option>
                <option value="Kamp">Kamp</option>
                <option value="Turnering">Turnering</option>
                <option value="Privatliv">Privatliv</option>
            </select>
        <input type="text" id="event-input" placeholder="Indtast begivenhed" />
        <label>
            Gentag hver uge
            <input type="checkbox" id="gentag-ugentligt"/>
        </label>
            </div>
        <button id="add-event">Tilføj begivenhed</button>
        <ul id="event-list"></ul>
        <button id="save-event">Gem</button>
        <button id="close-modal">Luk</button>
    </div>
</div>

<script src="../../javascript/kalender.js"></script>
</body>

</html>