<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>GameHive - Hele Danmarks Gaming Platform!</title>
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/tips.css">
</head>
<body>
<header>
    <div class="header">
        <div class="logocontainer">
            <a href="forside.html">
                <img id="logo" src="../billeder/logo.png" alt="Logo">
            </a>
        </div>
        <div class="hejmsg">
            Gamernes Platform!
        </div>
        <div class="hlist">
            <ul>
                <li><a href="forside.html">Forside </a></li>
                <li><a href="tips.html">Tips n' Tricks</a></li>
                <li><a href="???">Min Profil</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Spil</button>
            <div class="dropdown-content">
                <a href="#">League of Legends</a>
                <a href="#">Valorant</a>
                <a href="#">CSGO</a>
                <a href="#">Smite</a>
                <a href="#">TFT</a>
                <a href="#">Baldur's Gate III</a>
                <a href="#">Warhammer 40k Tacticus</a>
            </div>
        </div>
        <div class="login-signup">
            <ul>
                <li><a href="login.html">Login </a></li>
                <li><a href="???">Sign Up</a></li>
            </ul>
        </div>
    </div>
</header>
    <div class="container">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
        <div class="box">4</div>
        <div class="box">5</div>
        <div class="box">6</div>
    </div>
</body>
</html>