body{
    background: linear-gradient(to bottom, #333333, black);
    margin: 0;
    height: 55rem;

    font-size: 1.8rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
    overflow: auto;

    box-shadow: inset 10px 0 15px rgba(253, 93, 85, .5), /*STADIG UNDER OVERVEJELSE*/
    inset -10px 0 15px rgba(253, 93, 86, .5);
}
body::-webkit-scrollbar {
    display: none;
}

.kalender {
    background-color: black;

    max-width: calc(100% - 10rem);
    height: 47%;
    margin: 2rem auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    background-color: black;

    max-width: calc(100% - 10rem);
    height: 30%;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

