body{
    background: linear-gradient(to bottom, #333333, black);
    margin: 0;
    height: 55rem;

    font-size: 1.8rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.kalender {
    background-color: blue;

    max-width: calc(100% - 10rem);
    height: 47%;
    margin: 2rem auto 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    background-color: blue;

    max-width: calc(100% - 10rem);
    height: 30%;
    margin: 2rem auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

